In [203]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from citipy import citipy
from datetime import datetime
from config import weather_api_key
import requests
from config import g_key

In [102]:
# get data from part1 csv
vacation_data_df = pd.read_csv("WeatherPy_vacation")
vacation_data_df.head(10)

,City_ID,City,Country,Weather Description,Max Temp,Lat,Lng,Hotel Name
0,0,Bermejo,AR,clear sky,78.80,-32.88,-68.80,Hotel Mendoza
1,3,Omaruru,NaN,broken clouds,73.04,-21.43,15.93,"Kashana, Omaruru, Namibia"
2,4,Tonantins,BR,overcast clouds,78.64,-2.87,-67.80,Hotel Rei Davi
3,8,Hilo,US,clear sky,75.20,19.73,-155.09,Hilo Hawaiian Hotel
4,9,Saint-Pierre,RE,overcast clouds,75.20,-21.34,55.48,Lindsey Hôtel
5,13,Saint-Philippe,RE,light rain,75.20,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
6,18,Sechura,PE,clear sky,74.12,-5.56,-80.82,Hospedaje Costa Bella
7,24,Punta Arenas,CL,overcast clouds,75.20,-53.15,-70.92,Hotel Dreams Del Estrecho
8,34,Tessalit,ML,broken clouds,75.81,20.20,1.01,NaN
9,46,Carnarvon,AU,scattered clouds,75.20,-24.87,113.63,Hospitality Carnarvon

In [192]:
#filter dataframe to get 4 cities in close proximity
limited_cities = vacation_data_df[vacation_data_df["Country"] == 'AU'].tail(4)
limited_cities

,City_ID,City,Country,Weather Description,Max Temp,Lat,Lng,Hotel Name
54,292,Geraldton,AU,clear sky,71.60,-28.77,114.60,Broadwater Mariner Resort
73,400,Mareeba,AU,light intensity shower rain,79.00,-17.00,145.43,Trinity Plains Tourist Park
74,405,Hervey Bay,AU,broken clouds,75.99,-25.30,152.85,Shelly Bay Resort
84,470,Port Hedland,AU,broken clouds,78.80,-20.32,118.57,The Esplanade Hotel

In [195]:
#create dataframe for each city
Geraldton_data_df = vacation_data_df[vacation_data_df["City"] == 'Geraldton']
Mareeba_data_df = vacation_data_df[vacation_data_df["City"] == 'Mareeba']
HerveyBay_data_df = vacation_data_df[vacation_data_df["City"] == 'Hervey Bay']
PortHedland_data_df = vacation_data_df[vacation_data_df["City"] == 'Port Hedland']

In [196]:
#put lat and long in tuple per city
Geraldton = (Geraldton_data_df[['Lat', 'Lng']].values)
Mareeba = (Mareeba_data_df[['Lat','Lng']].values)
HerveyBay = (HerveyBay_data_df[['Lat', 'Lng']].values)
PortHedland = (PortHedland_data_df[['Lat', 'Lng']].values)

In [197]:
#create info for markers
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in limited_cities.iterrows()]

In [204]:
#lat and long pairs
import gmaps
gmaps.configure(api_key= g_key)
 
#locations coordinates for cities    
locations = limited_cities[["Lat", "Lng"]]

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig = gmaps.figure()
Geraldton2Mareeba = gmaps.directions_layer(Geraldton[0], Mareeba[0], waypoints=[HerveyBay[0],PortHedland[0]], travel_mode = "DRIVING")

fig.add_layer(marker_layer)
fig.add_layer(Geraldton2Mareeba)

fig

Figure(layout=FigureLayout(height='420px'))